.window_container
{
    -fx-background-color : #EEEEEE;
    -fx-alignment : top-center;
    -fx-spacing : 10;
}

.window_container Text
{
    -fx-font-size : 3em;
    -fx-fill : #00246C;
    -fx-font-weight : 700;
}

.window_container Label
{
    -fx-text-fill : #007DCF;
    -fx-font-family : "Calibri Light";
}

.window_container Button
{
    -fx-background-color : #00246C;
    -fx-text-fill : #FFFFFF;
    -fx-effect : dropshadow(three-pass-box, #007DCF, 3, 0, 0, 3);
}

.window_container Button FontAwesomeIconView
{
    -fx-fill : #FFFFFF;
}

.window_container Button:hover
{
    -fx-cursor : hand;
}

.window_container HBox
{
    -fx-alignment : center;
    -fx-spacing : 5;
}

.window_container HBox VBox
{
    -fx-alignment : top-center;
    -fx-spacing : 7;
}

.text
{
    -fx-font-size : 2.2em;
}