.cell_container
{
    -fx-background-color : #00246C;
    -fx-effect : dropshadow(three-pass-box, #007DCF, 3, 0, 0, 3);
}

.details_container
{
    -fx-alignment : center;
    -fx-spacing : 55;
}

.details_container Text
{
    -fx-fill : white;
    -fx-font-size : 2em;
    -fx-font-weight : 800;
}